/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 févr. 2017, 14:42:52
    Author     : loic
*/
*{
    margin : 0;
    padding : 0;
}
html{
    background-color: #202020;
}
div{
    position: relative;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
#wrapper{
    width:100%;
}
#left{
    width: 20%;
    float: left;
    /*background-color: white;*/
}
#right{
    width: 80%;
    float:right;
}
#right>div{
    width: 100%;
height:100%;
}

#top{

}
#bottom{

}

#users{
    /*margin: 20px;*/
    background-color: #2e3136;
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.5);*/

}

#users > p{
    color: rgba(255,255,255,0.8);
    padding: 10px;
}

#users > p:hover{
    color: rgba(255,255,255,1);
    background-color:rgba(0,0,0,0.1);

}
#messages > p{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /*background-color:rgba(0,0,0,0.1);*/
}

#messages{
    height:100%;
    background-color: white;
    overflow-y: scroll;
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.5);*/

}
#messages >p:hover{
    background-color:rgba(0,0,0,0.1);

}
#message{
    line-height: 60px;
    vertical-align: middle;
    /*margin: 20px;*/
    background-color: white;

}
#message input[type='text']{
    width: 90%;
    height : 50px;
}
#message input[type='submit']{
    width: 9%;
    height : 50px;
    background-color: cornflowerblue;
}

.away{
    /*background-color: rgba(0,0,0,1);*/
    /*z-index: 100;*/
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    transition:0.4s;
}

.noAway{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transition:0.4s;

}

.hide{
    display:none;
    transition:2s;
}

.show{
    transition:2s;
}

.afkAlert{
    z-index: 150;
    position: fixed;
    top:5%;
    text-align: center;
    font-size: 0px;
    /*left:35%;*/
    /*box-sizing: border-box;*/
    width:0%;
    height:5%;
    background-color:#202020;
    transition:0.4s;

}
.afkAlert2{
    z-index: 150;
    position: fixed;
    top:10%;
    text-align: center;
    font-size: 30px;
    width:100%;
    height:15%;
    background-color:white;
    box-shadow: 2px 2px 2px black;
    transition:0.4s;

}

.afkBack{
    color: rgba(0,0,0,0.5);
}

#typing{
    color: white;
    transition:1s;
}